@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8bfd8;
}

.piano-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  margin: 70px auto;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 50%);
}

/* Black keys */
.black {
  background-color: black;
  border: 1px solid black;
  width: 100px;
  height: 400px;
  color: white;
}

.black:hover {
  background-color: rgb(65, 65, 65);
  cursor: pointer;
}

/* White keys */
.white {
  background-color: white;
  border: 1px solid black;
  width: 100px;
  height: 400px;
  color: black;
}

.white:hover {
  background-color: rgb(194, 194, 194);
  cursor: pointer;
}

/* Controls */
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 1200px;
  margin: 20px auto;
  text-align: center;
}

/* Slider styling */
.sld-container {
  width: 120px;
}

/* The slider itself */
.sld {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #ffffff; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.sld:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.sld::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #B275FA; /* Green background */
  cursor: pointer; /* Cursor on hover */
  box-shadow: 4px 0px 16px rgb(0 0 0 / 20%);
}

.sld::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #B275FA; /* Green background */
  cursor: pointer; /* Cursor on hover */
  box-shadow: 0px 2px 2px rgb(0 0 0 / 50%);
}